# environment config & cache files
__pycache__/
.vscode/
imgui.ini

# results
physResult/
trimmedData/

# generated batch simulation JSON (e.g. mountain-thick_batch_25.json)
**/*_batch*.json
*/*/output/*

# config file
config.yml
optimization/config.yml
symmetry_grouping/config.yml

# draft
cdf_thick_panel-symm.py